* {
  box-sizing: border-box;
}

html,
body,
.bg,
main,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

div.label {
  background-color: white;
  border: 1px solid #888888;
  padding: 5px;
  border-radius: 3px;
  font-family: Arial, Helvetica, sans-serif;
}

.layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(63, 12, 88, 0.25) 0%,
    transparent 100%
  );
  pointer-events: none;
}

body {
  background: #171717;
  position: fixed;
}
canvas {
  z-index: -1;
  position: absolute;
}

.bg {
  position: absolute;
  background: radial-gradient(
    at 50% 100%,
    #873740 0%,
    #272730 40%,
    #171720 80%,
    #070710 100%
  );
}
.scrollArea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}
