@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");
* {
  box-sizing: border-box;
}

html,
body,
.bg,
main,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

div.label {
  background-color: white;
  border: 1px solid #888888;
  padding: 5px;
  border-radius: 3px;
  font-family: Arial, Helvetica, sans-serif;
}

.layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(63, 12, 88, 0.25) 0%,
    transparent 100%
  );
  pointer-events: none;
}

body {
  background: #171717;
  position: fixed;
}

canvas {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
}

.text-background {
  font-size: 40px;
  width: 50%;
  padding: 2em 3em;
  font-family: Arial, Helvetica, sans-serif;
  // font-family: "Rubik";
  color: #fff;
}

.bg {
  position: absolute;
  background: radial-gradient(
    at 50% 100%,
    #873740 0%,
    #272730 40%,
    #171720 80%,
    #070710 100%
  );
}

.scrollArea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.navbar-inverse {
  padding-top: 10px;
  background-color: #272c33;
}
.navbar-inverse {
  padding-top: 10px;
  background-color: #272c33;
}
.navbar-inverse .navbar-nav > li > a {
  color: #c8c9ce;
  font-weight: 400;
  font-family: Arial;
  font-size: 15px;
  text-align: center;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #272c33;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #272c33;
}
.fa {
  font-size: 26px;
}
@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.dropdown-menu {
  margin-left: 10px;
  background-color: #272c33;
}
.dropdown-menu > li > a {
  padding-bottom: 10px;
  color: #c8c9ce;
  width: 180px;
}
.dropdown-menu > li > a:hover {
  background-color: transparent;
  color: #fff;
}
.dropdown-toggle {
  position: relative;
}

.dropdown-menu:after {
  content: "";
  position: absolute;
  left: -9px;
  top: 15px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #272c33;
}
@media (min-width: 768px) {
  .container {
    width: 503px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 723px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 923px;
  }
}
@media (min-width: 1432px) {
  .container {
    width: 1170px;
  }
}

body {
  padding-top: 70px;
}

.navbar-fixed-left,
.navbar-fixed-right {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1030;
}
@media (min-width: 768px) {
  .navbar-fixed-left,
  .navbar-fixed-right {
    width: 135px;
    height: 100vh;
    border-radius: 0;
  }
  .navbar-fixed-left .container,
  .navbar-fixed-left .container-fluid,
  .navbar-fixed-right .container,
  .navbar-fixed-right .container-fluid {
    padding-right: 0;
    padding-left: 0;
    width: auto;
  }
  .navbar-fixed-left .navbar-header,
  .navbar-fixed-right .navbar-header {
    float: none;
    padding-left: 15px;
    padding-right: 15px;
  }
  .navbar-fixed-left .navbar-collapse,
  .navbar-fixed-right .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
    max-height: none;
  }
  .navbar-fixed-left .navbar-collapse .navbar-nav,
  .navbar-fixed-right .navbar-collapse .navbar-nav {
    float: none !important;
  }
  .navbar-fixed-left .navbar-collapse .navbar-nav > li,
  .navbar-fixed-right .navbar-collapse .navbar-nav > li {
    width: 100%;
  }
  .navbar-fixed-left .navbar-collapse .navbar-nav > li.dropdown .dropdown-menu,
  .navbar-fixed-right
    .navbar-collapse
    .navbar-nav
    > li.dropdown
    .dropdown-menu {
    top: 0;
  }
  .navbar-fixed-left .navbar-collapse .navbar-nav.navbar-right,
  .navbar-fixed-right .navbar-collapse .navbar-nav.navbar-right {
    margin-right: 0;
  }
}
@media (min-width: 768px) {
  body {
    padding-top: 0;
    margin-left: 150px;
  }
  .navbar-fixed-left {
    right: auto !important;
    left: 0 !important;
    border-width: 0 1px 0 0 !important;
  }
  .navbar-fixed-left .dropdown .dropdown-menu {
    left: 100%;
    right: auto;
    border-radius: 5px;
    padding: 25px;
  }
  .navbar-fixed-left .dropdown .dropdown-toggle .caret {
    border-top: 4px solid transparent;
    border-left: 4px solid;
    border-bottom: 4px solid transparent;
    border-right: none;
  }
}

.navbar-inverse .navbar-nav > li > a {
  color: #c8c9ce;
  font-weight: 400;
  font-family: Arial;
  font-size: 15px;
  text-align: center;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #272c33;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #272c33;
}

.fa {
  font-size: 26px;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.dropdown-menu {
  margin-left: 10px;
  background-color: #272c33;
}
.dropdon-menu > li > a {
  padding-bottom: 10px;
  color: #c8c9ce;
  width: 180px;
}
.dropdown-menu > li > a:hover {
  background-color: transparent;
  color: #fff;
}
.dropdown-toggle {
  position: relative;
}

.dropdown-menu:after {
  content: "";
  position: absolute;
  left: -9px;
  top: 15px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #272c33;
}
@media (min-width: 768px) {
  .container {
    width: 503px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 723px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 923px;
  }
}
@media (min-width: 1432px) {
  .container {
    width: 1170px;
  }
}

.navbar-fixed-left,
.navbar-fixed-right {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1030;
}

@media (min-width: 768px) {
  .navbar-fixed-left,
  .navbar-fixed-right {
    width: 135px;
    height: 100vh;
    border-radius: 0;
  }
  .navbar-fixed-left .container,
  .navbar-fixed-left .container-fluid,
  .navbar-fixed-right .container,
  .navbar-fixed-right .container-fluid {
    padding-right: 0;
    padding-left: 0;
    width: auto;
  }
  .navbar-fixed-left .navbar-header,
  .navbar-fixed-right .navbar-header {
    float: none;
    padding-left: 15px;
    padding-right: 15px;
  }
  .navbar-fixed-left .navbar-collapse,
  .navbar-fixed-right .navbar-collapse {
    padding-right: 0;
    padding-left: 0;
    max-height: none;
  }
  .navbar-fixed-left .navbar-collapse .navbar-nav,
  .navbar-fixed-right .navbar-collapse .navbar-nav {
    float: none !important;
  }
  .navbar-fixed-left .navbar-collapse .navbar-nav > li,
  .navbar-fixed-right .navbar-collapse .navbar-nav > li {
    width: 100%;
  }
  .navbar-fixed-left .navbar-collapse .navbar-nav > li.dropdown .dropdown-menu,
  .navbar-fixed-right
    .navbar-collapse
    .navbar-nav
    > li.dropdown
    .dropdown-menu {
    top: 0;
  }
  .navbar-fixed-left .navbar-collapse .navbar-nav.navbar-right,
  .navbar-fixed-right .navbar-collapse .navbar-nav.navbar-right {
    margin-right: 0;
  }
}
@media (min-width: 768px) {
  body {
    padding-top: 0;
    margin-left: 150px;
  }
  .navbar-fixed-left {
    right: auto !important;
    left: 0 !important;
    border-width: 0 1px 0 0 !important;
  }
  .navbar-fixed-left .dropdown .dropdown-menu {
    left: 100%;
    right: auto;
    border-radius: 5px;
    padding: 25px;
  }
  .navbar-fixed-left .dropdown .dropdown-toggle .caret {
    border-top: 4px solid transparent;
    border-left: 4px solid;
    border-bottom: 4px solid transparent;
    border-right: none;
  }
}

/*  media*/
@media screen and (max-width: 768px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #c8c9ce;
    text-align: center;
    width: 95%;
  }
}

.sidebar {
  position: fixed;
  width: 150px;
  top: 0;
  left: 0;
  bottom: 0;
  background: #111;
  padding-top: 50px;
}

.sidebar #about::after {
  background-color: #3486eb;
}

.sidebar #partners::after {
  background-color: #f00c23;
}
.sidebar #portfolio::after {
  background-color: #ebc634;
}
.sidebar #news::after {
  background-color: #22e06b;
}
.sidebar #contact::after {
  background-color: #1135ba;
}

.sidebar a::after {
  content: "";
  position: absolute;
  width: 11px;
  height: 73px;
  top: 0;
  left: 139px;
}

.sidebar a {
  width: 145px;
  height: 75px;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #1f1f1f;
  transition-duration: 0.3s;
  padding: 10px 20px;
  color: #bbb;
  text-decoration: none;
  font-family: "Rubik";
  letter-spacing: 2px;
}

.sidebar a:hover {
  color: #fff;
  margin-left: 20px;
  transition: 0.6s;
}

.logo {
  margin: auto;
  display: flex;
  max-height: 110px;
  max-width: 180px;
  overflow: visible;
  padding-top: 28px;
  padding-bottom: 29px;
}
